* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url(filmes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu {
    list-style: none;
    border: 1px solid rgb(1, 0, 75);
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 0, 75);
}

.menu a {
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.menu a li {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a li:hover {
    background: #000870;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.container {
    h1 {
        text-align: center;
        font-size: 400px;
        color: white;
        text-shadow: 10px 10px 10px black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    h2 {
        text-align: center;
        font-size: 100px;
        color: #000870;
        text-shadow: 3px 3px 5px white;
    }

    h3 {
        font-size: 50px;
        background-color: black;
        color: white;
    }

    {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card {
    background-color: black;
    width: 300px;
    box-shadow: 1px 1px 3px #ffffff;
    flex-direction: line;
    padding: 20px;
    margin: 2%;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.nome {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.diretor {
    color: rgba(255, 255, 255, 0.795);
    font-size: 15px;
    margin-bottom: 10px;
}

.lista {
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 1200px) {

    .espaco {
        margin: 200px;
    }
}