body {
    background-color: rgb(0, 0, 53);
    padding: 70px;
}

.menu {
    list-style: none;
    border: 1px solid rgb(1, 0, 75);
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 0, 75);
}

.menu a {
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.menu a li {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a li:hover {
    background: #000870;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.container1 img {
    width: 100px;
    height: 100px;
    border: 0px solid black;
    border-radius: 50%;
}

.container1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.parte2 {
    color: white;

   

}

.parte2 img{
    width: 50px;
    height: 50px;
    border: 0px solid black;
    border-radius: 50%;
}

.parte2 a,
h4, h3 {
    color: white;

}

.descricao h4 {
    color: white;
}

.parte1 {
    display: flex-end;
    flex-direction: column;
}

.parte1 h1{
 color:rgb(255, 255, 253)

}

.informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.informacoes a {
    text-decoration: none;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(136, 162, 242);
    display: flex;
    flex-direction: column;
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.card p,
h3,
h4 {
    text-align: center;
    color: rgba(3, 6, 32, 0.548);
    text-align: left;
}

.container2 {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    grid-template-columns: repeat(4, 300px);
    background-color: rgb(0, 0, 88);
}

.container3 {
    display: flex;
    gap: 10px;
    text-align: center;
    width: 100%;
    overflow-x: auto;
    height: 73%;
}

.container3 h4 {
    text-align: center;

}

.container3 p {
    margin: 5px 30px;
}

.card3 {
    width: 300px;
    background-color: rgb(133, 183, 249);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    flex-shrink: 0;



}

.card3 img {
    width: 100%;
    height: 450px;
}

.geral {
    display: flex;

}


.parte1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.parte2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.parte2 img {
    width: 250px;
    height: 250px;
}